nav {
  padding-left: 1em;
  margin-bottom: 2em;
}

#user-details {
  padding: 1em;
  border: 2px solid black;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }

#sign-in {
  margin-top: 6em;
  padding: 2em;
}

input:focus:not([read-only]) {
	border-bottom: none!important;
	box-shadow: none!important;	
}

.background-red {
  background-color: #c62828;
}
